{{#> Container}}
  <div class="login-wrap">
    {{> Title text='Вход'}}
    <form class="login-wrap__login-form">
      <div class="login-wrap__login-form__inputs">
      {{> Input type='text'  name='login' label='Логин' placeholder='логин' value='' }}
      {{> Input type='password' name='password' label='Пароль' placeholder='пароль' value=''}}
      </div>
      {{> ButtonApply text='Войти' type='submit'}}
    </form>
    {{> Link href='/registration' text="Вы ещё не зарегистрированы?"}}
  </div>
{{/Container}}