.section-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 6px var(--form-box-shadow-color);

  .fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }
}
