{{#> Container}}
{{> ButtonReturn type='button' path='/profile'}}
  <div class="profile-wrap profile-password-edit-wrap">
    <div class="profile-wrap__avatar">{{> Avatar}}</div>
    <div class="profile-wrap__title">{{name}}</div>
    <form class="form-password-edit" action="">
      <div class="form-password-edit__fields">       
        <div class="form-password-edit__fields__row">
          <label class="form-password-edit__fields__row__label" for="oldPassword">Старый пароль</label>
          <input class="form-password-edit__fields__row__input" type="password" name="oldPassword" placeholder="Введите старый пароль..." >
        </div>
        <div class="form-password-edit__fields__row">
          <label class="form-password-edit__fields__row__label" for="newPassword">Новый пароль</label>
          <input class="form-password-edit__fields__row__input" type="password" name="newPassword" placeholder="Введите новый пароль..." required>
        </div>
        <div class="form-password-edit__fields__row">
          <label class="form-password-edit__fields__row__label" for="newPasswordRepeat">Повторите новый пароль</label>
          <input class="form-password-edit__fields__row__input" type="password" name="newPasswordRepeat" placeholder="Введите пароль ещё раз..." required>
        </div>
      </div>
      {{> ButtonApply text='Сохранить' type='submit'}}
    </form>
  </div>
{{/Container}}
