.content-form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 10px 0 10px 20px;

  &__header {
    height: 54px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
  }

  &__main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: thin;
    scrollbar-width: thin;
    gap: 10px;
  }

  &__text-field {
    border-top: 1px solid #eaeaea;
    height: 54px;
  }
}

.no-active-chats-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.no-active-chats-msg {
  font-weight: 500;
  font-size: 12px;
  color: #999;
}
