.content-form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 16px 20px 16px 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding-right: 16px;
    border-bottom: 1px solid var(--CF-border-bottom-color);
    gap: 10px;
  }

  &__main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: thin;
    scrollbar-width: thin;
    padding-right: 6px;
    gap: 20px;
  }

  &__text-field {
    border-top: 1px solid var(CF-textField-vorder-top-color);
    height: 54px;
  }

  .user-list-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--CF-userList-border-color);
    padding: 10px;
    font-size: 13px;
  }

  .options-wrap {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

.no-active-chats-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.no-active-chats-msg {
  font-weight: 500;
  font-size: 12px;
  color: var(--CF-noActiveChats-text-color);
}
