.chat-wrap {
  width: 100vw;
  display: flex;
}

.modal-form-wrap {
  display: flex;
  flex-direction: column;
}

.contentForm-button {
  font-size: 12px;
  min-width: 100px;
  width: min-content;
  min-height: 41px;
  height: min-content;
  padding: 6px;
}
