.sending-form {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 0;
  gap: 10px;

  &__message {
    padding: 10px;
    position: relative;
    height: min-content;
    max-height: 156px;
    width: 80%;
    overflow: hidden;
    resize: none;
    border: 1px solid #eaeaea;
    border-radius: 30px;
  }

  &__message::placeholder {
    position: absolute;
    top: 30;
    left: 20;
  }

  &__message:active,
  &__message:hover,
  &__message:focus {
    outline: 0;
    outline-offset: 0;
  }
}
