{{#> Container}}
  <div class="reg-wrap">
    {{> Title text='Регистрация'}}
    <form class="reg-wrap__reg-form">
      <div class="reg-wrap__reg-form__inputs">
      {{> Input type='email' id='reg_login' name='email' label='Почта' placeholder='почту'}}
      {{> Input type='text' id='reg_login' name='login' label='Логин' placeholder='логин'}}
      {{> Input type='text' id='reg_first_name' name='first_name' label='Имя' placeholder='имя'}}
      {{> Input type='text' id='reg_second_name' name='second_name' label='Фамилия' placeholder='фамилию'}}
      {{> Input type='text' id='reg_phone' name='phone' label='Телефон' placeholder='телефон' }}
      {{> Input type='password'  id='reg_password' name='password' label='Пароль' placeholder='пароль'}}
      {{> Input type='password'  id='reg_password_repeat' name='password_repeat' label='Пароль (ещё раз)' placeholder='пароль ещё раз'}}
      </div>
      {{> ButtonApply text='Создать аккаунт'}}
    </form>
    {{> Link href='/login' text="Войти"}}
  </div>
{{/Container}}
