.chat-list-wrap {
  min-width: 240px;
  width: 30%;
  height: 100vh;
  padding: 16px 0;
  overflow-y: scroll;
  background-color: var(--chat-list-bg-color);
  border-right: 1px solid var(--chat-list-border-right-color);
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.chat-list-wrap::-webkit-scrollbar {
  display: none;
}

.chat-list-header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 15px;
  height: 60px;
  gap: 5%;
}
