.profile-form {
  height: 330px;
}

.avatar-wrap {
  text-align: center;
}

.profile-row input {
  font-weight: 500;
  font-size: 13px;
  color: var(--profile-input-text-color);
  text-align: right;
}

.profile-row input:placeholder-shown {
  display: none;
}

.profile-card-options {
  width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__data-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--profile-border-top-color);
    padding: 10px 0;
  }

  &__data-row:first-child {
    border: 0;
  }

  &__data-row:last-child .link {
    color: var(--profile-logout-text-color);
  }
}
