<div class='card__avatar'></div>
<div class='card-main-content'>
  <div class='card__header'>
    <div class='card__header__title'>
      {{title}}
    </div>
    <div class='card__header__date'>
      {{date}}
    </div>
  </div>
  <div class='card__content'>
    {{lastMessage}}
  </div>
</div>
