{{#> Container}}
  {{> Title text='Список чатов с лентой переписки находится в разработке'}}
  <ul> Сейчас вы можете изучить другие страницы:
    <li>{{> Link href='/login' text='Страница авторизации'}}</li>
    <li>{{> Link href='/registration' text='Страница регистрации'}}</li>
    <li>{{> Link href='/profile' text='Страница с информацией о пользователе'}}</li>
    <li>{{> Link href='/password-edit' text='Страница смены пароля'}}</li>
    <li>{{> Link href='/error404' text='Страница "Page not found"'}}</li>
    <li>{{> Link href='/error500' text='Страница "Ошибка 5**"'}}</li>
  </ul>
{{/Container}}
