{{#> Container}}
<div class="error-wrap">
  <div class="error-text" >
    <h2 class="error-title">Ошибка 500</h2>
    <div class="error-message">Мы уже фиксим</div>
  </div>
  {{> Link href='/chat' text='Назад к чатам'}}
</div>
{{/Container}}