.avatar {
  text-align: center;
  display: inline-block;
  position: relative;
  width: 100%;
  // width: 130px;
  // height: 130px;
  border-radius: 50%;
  background: transparent;
  object-fit: cover;
  
}

.avatar img {
  width: 130px;
  height: 130px;
  cursor: pointer;
}
