.avatar-wrap {
  text-align: center;
  display: inline-block;
  position: relative;
  width: 130px;
  height: 130px;
}

.avatar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.avatar-wrap img {
  transition: 0.4s;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.avatar-wrap:hover img {
  opacity: 0.5;
  transition: 0.4s;
}

.avatar-wrap:hover .changeAvatar {
  opacity: 1;
  visibility: visible;
}

.changeAvatar {
  display: flex;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  font-size: 13px;
  color: var(--avatar-change-text-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  transition: 0.4s;
  background-color: var(--avatar-change-bg-color);
  border-radius: 50%;
  cursor: pointer;
}
