.message {
  font-size: 14px;
  position: relative;
  width: 55%;
  border: 1px #eaeaea solid;
  border-radius: 12px;
  padding: 6px 10px 15px;

  &__date {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.incoming {
  margin-right: auto;
  background-color: #f8f8f8;
}

.outgoing {
  margin-left: auto;
  background-color: #e4edfd;
}
