.message {
  font-size: 14px;
  position: relative;
  width: 55%;
  border: 1px var(--message-border-color) solid;
  border-radius: 12px;
  padding: 6px 10px 15px;
  word-break: break-all;

  &__date {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.incoming {
  margin-right: auto;
  background-color: var(--border-incoming-bg-color);
}

.outgoing {
  margin-left: auto;
  background-color: var(--border-outgoing-bg-color);
}
